.error {
    color: red;
}
.input-error {
    border: 1px solid red;
}
*{
    margin: 0;
    padding: 0;
}

body{
    
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
}

body::before{
    content: "";
    background: url('./images/dark-sunset.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    filter: blur(3.5px);
}



.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    justify-content: center;
}

.box{
    position: relative;
    width: 800px;
    height: 260px;
}

.box::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: url('./images/dark-sunset.jpg');
    background-size: cover;
}

/* .box::after{
    content: "";
    border: 1px solid pink;
    z-index: 888;
    width: 450px;
    height: 100%;
    position: absolute;
    right: 0;
} */

form{
    background-color: transparent;
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    z-index: 1000234;
    position: absolute;
    right: 0;
    align-items: center;
}

form label{
    margin-right: 15px;
}

form input{
    border: none;
    background-color: transparent;
    color: white;
    margin-bottom: 6px;
    width: 150px;
    height: 20px;
    border-bottom: 1px solid white;
}

form input::placeholder{
    color: white;
}

form input:focus{
    outline: none;
}

.button button{
    margin-top: 15px;
    background-color: red;
    border: none;
    border-radius: 4px;
    color: white;
    width: 150px;
    height: 35px;
    cursor: pointer;
}

select {
    background-color: transparent;
    color: white;
    width: 150px;
    height: 25px;
    border: 1px solid white;
}


select option{
    color: black;
    
}



